<app-header [title]="title || 'Offers'"></app-header>

<ion-content [fullscreen]="true">
  <ion-list>
   <ion-card *ngFor="let offer of offers">
    <ion-card-header>
      <ion-card-title>{{ offer.headline }}</ion-card-title>
    </ion-card-header>

      <ion-card-content>
       {{ offer.description }}
      </ion-card-content>
      <ion-footer>
        <ion-toolbar>
         <ion-segment swipeGesture="true" scrollable="true">
          <ion-segment-button value="time">
            <ion-icon name="time"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="eye">
            <ion-icon name="eye"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="checkmark">
            <ion-icon name="checkmark"></ion-icon>
          </ion-segment-button>
        </ion-segment>
        </ion-toolbar>
      </ion-footer>
    </ion-card>
 </ion-list>
 <ion-button expand="block" (click) = "loadOffers()">Cargar Usuarios</ion-button>
</ion-content>
