<app-header [title]="title || 'Offers'"></app-header>

<ion-content [fullscreen]="true">
  <ion-list>
   <ion-card *ngFor="let offer of offers">
    <ion-card-header>
      <ion-card-title>{{ offer.headline }}</ion-card-title>
      <ion-card-subtitle>{{ offer.description }}</ion-card-subtitle>
    </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
      <ion-footer>
        <ion-toolbar>
         <ion-segment swipeGesture="true" scrollable="true">
          <ion-segment-button value="time">
            <ion-icon name="time"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="eye">
            <ion-icon name="eye"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="checkmark">
            <ion-icon name="checkmark"></ion-icon>
          </ion-segment-button>
        </ion-segment>
        </ion-toolbar>
      </ion-footer>
    </ion-card>
 </ion-list>
</ion-content>
