<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Offer</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-item>
  <div *ngFor="let offer of offers">
    <div *ngIf="offer.id == id">
      <div>
      <h2>Title: </h2>
      <ion-item>{{offer.headline}}</ion-item>
      <h2>Description:</h2>
      <ion-item>{{offer.description}}</ion-item>
      <h2>Cicle Name: </h2>
      <ion-item>{{offer.cicle_name}}</ion-item>
      <h2>Date Max: </h2>
      <ion-item><ion-datetime disabled displayFormat="DD/MM/YYYY" value="{{offer.date_max}}"></ion-datetime></ion-item>
      <h2>Numbers of candidates: </h2>
      <ion-item>{{offer.num_candidates}}</ion-item>
    </div>
  </div>
  </div>
  </ion-item>
</ion-content>
