<app-header [title]="title || 'Offers'"></app-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <h1 class="ion-text-center">Requested offers: {{size}}</h1>
  </ion-item>

    <ion-select (ionChange)="OnChange($event)" [(ngModel)]="cicle">
      <ion-select-option value="-1">All</ion-select-option>
      <div *ngFor="let cicle of cicles">
        <ion-select-option value="{{cicle.id}}">{{ cicle.name }}</ion-select-option>
      </div>
    </ion-select>

  <ion-list>
  <div *ngIf="offers?.length == 0">
    No offers at the moment
  </div>
   <ion-card *ngFor="let offer of offers">
    <ion-card-header>
    <ion-card-title>
      <div *ngIf="offer.cicle_name === 'Automocion'; else elseBlock">
        <img src="assets/logos/auto.png" width="50" height="50" />
      </div>
      <ng-template #elseBlock>
      <img src="assets/logos/{{offer.cicle_name | lowercase }}.png" width="50" height="50" />
      </ng-template>
      {{ offer.headline }}
    </ion-card-title>
      
    </ion-card-header>
    
      <ion-card-content position="fixed">
       {{ offer.description }}
      </ion-card-content>
      <ion-footer>
        <ion-toolbar>
         <ion-segment type="submit" swipeGesture="true" scrollable="true">
          <ion-segment-button value="eye" (click)="ViewMore(offer.id)">
            <ion-icon name="eye"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="checkmark" (click)="ApplyOffer(offer.id)">
            <ion-icon name="checkmark"></ion-icon>
          </ion-segment-button>
        </ion-segment>
        </ion-toolbar>
      </ion-footer>
    </ion-card>
 </ion-list>
</ion-content>

