<app-header [title]="title || 'Offers'"></app-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label class="ion-text-center">Requested offers {{size}}</ion-label>
  </ion-item>

  <ion-list>

  <ion-segment color="primary" [(ngModel)]="type" scrollable>
    <ion-segment-button value="deposit" (click)="loadOffers()" checked>
      <ion-label>All</ion-label>
      <ion-icon name="albums"></ion-icon>
    </ion-segment-button>
    <ion-segment-button *ngFor="let offer of offers" (click)="loadOffersById(offer.id)">
      <ion-label>{{offer.cicle_id}}</ion-label>
      <ion-icon name="browsers"></ion-icon>
    </ion-segment-button>
  </ion-segment>

   <ion-card *ngFor="let offer of offers">
    <ion-card-header>
      <ion-card-title>{{ offer.headline }}</ion-card-title>
    </ion-card-header>

      <ion-card-content position="fixed">
       {{ offer.description }}
      </ion-card-content>
      <ion-footer>
        <ion-toolbar>
         <ion-segment type="submit" swipeGesture="true" scrollable="true">
          <ion-segment-button value="eye" (click)="ViewMore(offer.id)">
            <ion-icon name="eye"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="checkmark" (click)="Applied()">
            <ion-icon name="checkmark"></ion-icon>
          </ion-segment-button>
        </ion-segment>
        </ion-toolbar>
      </ion-footer>
    </ion-card>
 </ion-list>
</ion-content>

