<app-header [title]="title || 'Offers'"></app-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <h1 class="ion-text-center">Requested offers: {{size}}</h1>
  </ion-item>

    <ion-select [(ngModel)]="filter" (ionChange)="onChange($event)">
      <ion-select-option *ngFor="let offer of offers" value="{{offer.cicle_id}}" name="browsers">{{offer.cicle_name}}</ion-select-option>
    </ion-select>

  <ion-list>

   <ion-card *ngFor="let offer of offers">
    <ion-card-header>
      <ion-card-title>{{ offer.headline }}</ion-card-title>
    </ion-card-header>

      <ion-card-content position="fixed">
       {{ offer.description }}
      </ion-card-content>
      <ion-footer>
        <ion-toolbar>
         <ion-segment type="submit" swipeGesture="true" scrollable="true">
          <ion-segment-button value="eye" (click)="ViewMore(offer.id)">
            <ion-icon name="eye"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="checkmark" (click)="ApplyOffer(offer.id)">
            <ion-icon name="checkmark"></ion-icon>
          </ion-segment-button>
        </ion-segment>
        </ion-toolbar>
      </ion-footer>
    </ion-card>
 </ion-list>
</ion-content>

